<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>

   </configSections>
   <connectionStrings>
      <add name="tadmapConnectionString" connectionString="Server=TREVOR-PC\SQLEXPRESS;Database=tadmap;Trusted_Connection=yes;"
        providerName="System.Data.SqlClient" />

   </connectionStrings>
   <system.web>
      <authentication mode="Forms">
         <forms loginUrl="/TestURL"/>
      </authentication>
   </system.web>
</configuration>