<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

  </configSections>
  <connectionStrings>
    <add name="tadmapConnectionString" connectionString="Server=TREVOR-PC\SQLEXPRESS;Database=tadmap;Trusted_Connection=yes;"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="S3AccessKey" value="1RYDPTK2VKP6739SPGR2"/>
    <add key="S3SecretAccessKey" value="FCbtO3UEUp7/5Fql3L57n1cA+d5OEnVP88EsDqJ7"/>
    <add key="S3BucketName" value="tadmap-dev"/>
    <add key="S3LargeFileTimeout" value="500000"/>
    <add key="S3SmallFileTimeout" value="150000"/>
  </appSettings>
  <system.web>

    <authentication mode="Forms">
      <forms loginUrl="/TestURL"/>
    </authentication>
  </system.web>
</configuration>