.ImageListItem
{
   border: dotted 1px #EEEEEE;
   margin: 5px;
   float: left;
   padding: 5px;
   height: 80px;
   width: 300px;
   cursor: pointer;
}


.ImageListItem > .TextArea
{
   height: 80px;
   overflow: hidden;
}

.ImageListItemDescription
{
   font-size: small;
}