<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tadmap.Website.Test.Properties.Settings.TadmapConnectionString"
            connectionString="Data Source=TREVOR-PC\SQLEXPRESS;Initial Catalog=tadmap;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>