<appSettings>
   <add key="BinaryRepositoryFolder" value="../../../Local_Binary_Storage"/>
   <add key="S3BucketName" value="tadmap-dev"/>
   <add key="S3LargeFileTimeout" value="500000"/>
   <add key="S3SmallFileTimeout" value="150000"/>
   <add key="OpenIdRealm" value="http://localhost:51277"/>
   <add key="OpenIdLoginUrl" value="http://localhost:51277/Account.mvc/OpenIdReturn/"/>
   <add key="RunLocal" value="true"/>
</appSettings>