<appSettings>
   <add key="S3AccessKey" value="1RYDPTK2VKP6739SPGR2"/>
   <add key="S3SecretAccessKey" value="FCbtO3UEUp7/5Fql3L57n1cA+d5OEnVP88EsDqJ7"/>
   <add key="S3BucketName" value="tadtestus"/>
   <add key="S3LargeFileTimeout" value="500000"/>
   <add key="S3SmallFileTimeout" value="150000"/>
   <add key="OpenIdRealm" value="http://localhost:51277"/>
   <add key="OpenIdLoginUrl" value="http://localhost:51277/Account.mvc/OpenIdReturn/"/>
   <add key="RunLocal" value="false"/>
</appSettings>