<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TadmapWorker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="S3AccessKey" value="1RYDPTK2VKP6739SPGR2" />
    <add key="S3SecretAccessKey" value="FCbtO3UEUp7/5Fql3L57n1cA+d5OEnVP88EsDqJ7" />
    <add key="S3BucketName" value="tadtestus" />

  </appSettings>
  <applicationSettings>
    <TadmapWorker.Properties.Settings>
      <setting name="S3AccessKey" serializeAs="String">
        <value>1RYDPTK2VKP6739SPGR2</value>
      </setting>
      <setting name="S3SecretAccessKey" serializeAs="String">
        <value>FCbtO3UEUp7/5Fql3L57n1cA+d5OEnVP88EsDqJ7</value>
      </setting>
      <setting name="S3BucketName" serializeAs="String">
        <value>tadtestus</value>
      </setting>
    </TadmapWorker.Properties.Settings>
  </applicationSettings>
</configuration>